KERNEL=="ttyUSB[0-9]*", SUBSYSTEMS=="tty", ENV{ID_VENDOR_ID}=="05c6", ENV{ID_USB_INTERFACE_NUM}=="02", ACTION=="add", SYMLINK+="ModemCOM"
#KERNEL=="ttyUSB[0-9]*", ENV{ID_VENDOR_ID}=="05c6", ENV{ID_USB_INTERFACE_NUM}=="02", ACTION=="add", SYMLINK+="ModemCOM"
#KERNEL=="ttyUSB2", ACTION=="add", SYMLINK+="ModemCOM"
